<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_9.3.5_13G36_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49199-036.dmg</string>
			<key>IV</key>
			<string>8bc58986338e6af70f82af52b0fcc0ef</string>
			<key>Key</key>
			<string>5add06584ecec71b3a7cad234a57894c40e9a8ab53548c2158422620a135a08c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>04fe9bb3587163cf279ef1db9353beb3</string>
			<key>Key</key>
			<string>4dd419ae29f62530f4bafd3588e6064fa6de31a0e9a137a8b4acb2dc29ae3e3e</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>81ca20cd4d3699b62712f469314fadbb</string>
			<key>Key</key>
			<string>95d8f958e0a860e3261dfc31e6caa578fcde773f87c83de8a8f605b36e38d689</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>Key</key>
			<string>af66abfdd974449fa4435dc288132dad650d6eb6a6fdd97bf859efb919ca4a37</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>5191c621fa3530bcb367274369cdfb62</string>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_9.3.5_13G36</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-48123-036.dmg</string>
	<key>RootFilesystemKey</key>
	<string>c2e87fd7911d2d196376245ba9b869288ad196ae75dd3d18c2576294d16d27bb161b8c37</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G36.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2250</integer>
	<key>SHA1</key>
	<string>9aaa618d2ed98d6f984b678d250bbb7aec46a096</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>OrigAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>OrigRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/LLB.n48.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/iBoot.n48.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/iBoot9.n48.RELEASE.img3</string>
			<key>IV</key>
			<string>7c99f4bf83db43e910df12a404b04c6f</string>
			<key>Key</key>
			<string>b90e7310ce5cd6e4b6887f741a2954c837c9788a6318f993a89aa09d5893218d</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>TarType</key>
	<integer>9</integer>
	<key>isIOS</key>
	<integer>9</integer>
	<key>PackagePath</key>
	<string>src/Cydia9.tar</string>
	<key>UntetherPath</key>
	<string>src/untether9.tar</string>
	<key>boot-args</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>debug_enabled</key>
	<true/>
</dict>
</plist>
